<div class="sl-block" data-block-type="text" style="width: 806px; left: 77px; top: 189px; height: auto;">
  <div class="sl-block-content" style="z-index: 10;">
    <h2>Complexity Classes</h2>
  </div>
</div>
<div class="sl-block" data-block-type="text" style="width: 806px; left: 77px; top: 375px; height: auto;">
  <div class="sl-block-content" style="z-index: 11;">
    <ul>
      <li>Problems in P can be <strong>solved</strong> quickly</li>
      <li>Problems in NP can be <strong>verified</strong> quickly</li>
      <li class="fragment" data-fragment-index="0">Problems in NP-complete are <em>probably</em> hard</li>
    </ul>
  </div>
</div>