<div class="sl-block" data-block-type="text" style="width: 806px; left: 77px; top: 189px; height: auto;">
  <div class="sl-block-content" style="z-index: 10;">
    <h2>Decision Problems</h2>
  </div>
</div>
<div class="sl-block" data-block-type="text" style="width: 806px; left: 77px; top: 375px; height: auto;">
  <div class="sl-block-content" style="z-index: 11;">
    <ul>
      <li class="fragment fade-in-then-semi-out" data-fragment-index="0" style="color:rgb(255, 255, 255)">What is the shortest path for a travelling salesman?</li>
      <li class="fragment" data-fragment-index="1" style="color:rgb(255, 255, 255)">Can a travelling salesman visit each location by travelling less than 10 miles?</li>
    </ul>
  </div>
</div>