<div class="sl-block" data-block-type="text" style="width: 806px; left: 77px; top: 189px; height: auto;">
    <div class="sl-block-content" style="z-index: 10;">
        <h2>Not All Equal 3SAT</h2>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="width: 806px; left: 77px; top: 375px; height: auto;">
    <div class="sl-block-content" style="z-index: 11;">
        <ul>
            <li>Each clause needs to also contain a FALSE</li>
            <li>Still NP-complete</li>
        </ul>
    </div>
</div>