<div class="sl-block" data-block-type="text" style="width: 806px; left: 77px; top: 189px; height: auto;">
  <div class="sl-block-content" style="z-index: 11;">
    <h2>NP Verification</h2>
  </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 4px; min-height: 4px; width: 244px; height: 244px; left: 358px; top: 368px;">
  <div class="sl-block-content" style="z-index: 12;" data-inline-svg="false">
    <script type="text/tikz">
    \begin{tikzpicture}
      \fill[fill opacity=0] (0,0) circle (4.3cm);
      \foreach \i/\c in {1/white,2/white,3/white,4/white,5/white,6/white} {
        \node[circle,draw=white,fill=\c,line width=1mm,minimum size=5mm] (\i) at (\i*60:4) {};
      }
      \foreach \i/\c in {7/white,8/white,9/white} {
        \node[circle,draw=white,fill=\c,line width=1mm,minimum size=5mm] (\i) at (90+\i*120:2) {};
      }
      \node[circle,draw=white,fill=white,line width=1mm,minimum size=5mm] (10) at (0,0) {};
      \foreach \i/\j in {1/2,2/3,3/4,4/5,5/6,6/1,
                         1/8,4/8,2/7,5/7,3/9,6/9,
                         7/10,8/10,9/10} {
        \draw[line width=1mm,white] (\i) -- (\j);
      }
    \end{tikzpicture}
    </script>
  </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 4px; min-height: 4px; width: 244px; height: 244px; left: 358px; top: 368px;">
  <div class="sl-block-content fragment" style="z-index: 13;" data-inline-svg="false" data-fragment-index="0">
    <script type="text/tikz">
    \begin{tikzpicture}
      \fill[fill opacity=0] (0,0) circle (4.3cm);
      \foreach \i/\c in {1/red,2/blue,3/red,4/blue,5/red,6/blue} {
        \node[circle,draw=white,fill=\c,line width=1mm,minimum size=5mm] (\i) at (\i*60:4) {};
      }
      \foreach \i/\c in {7/brown,8/brown,9/brown} {
        \node[circle,draw=white,fill=\c,line width=1mm,minimum size=5mm] (\i) at (90+\i*120:2) {};
      }
      \node[circle,draw=white,fill=red,line width=1mm,minimum size=5mm] (10) at (0,0) {};
      \foreach \i/\j in {1/2,2/3,3/4,4/5,5/6,6/1,
                         1/8,4/8,2/7,5/7,3/9,6/9,
                         7/10,8/10,9/10} {
        \draw[line width=1mm,white] (\i) -- (\j);
      }
    \end{tikzpicture}
    </script>
  </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 4px; min-height: 4px; width: 244px; height: 244px; left: 358px; top: 368px;">
  <div class="sl-block-content fragment current-visible" style="z-index: 14;" data-inline-svg="false" data-fragment-index="1">
    <script type="text/tikz">
    \begin{tikzpicture}
      \fill[fill opacity=0] (0,0) circle (4.3cm);
      \foreach \i/\c in {1/red,2/blue,3/red,4/blue,5/red,6/blue} {
        \node[circle,draw=white,fill=\c,line width=1mm,minimum size=5mm] (\i) at (\i*60:4) {};
      }
      \foreach \i/\c in {7/brown,8/brown,9/brown} {
        \node[circle,draw=white,fill=\c,line width=1mm,minimum size=5mm] (\i) at (90+\i*120:2) {};
      }
      \node[circle,draw=white,fill=red,line width=1mm,minimum size=5mm] (10) at (0,0) {};
      \foreach \i/\j in {1/2,2/3,3/4,4/5,5/6,6/1,
                         1/8,4/8,2/7,5/7,3/9,6/9,
                         7/10,8/10,9/10} {
        \draw[line width=1mm,white] (\i) -- (\j);
      }
      \draw[line width=3mm,green] (1) -- (2);
      \draw[line width=1mm,white] (1) -- (2);
    \end{tikzpicture}
    </script>
  </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 4px; min-height: 4px; width: 244px; height: 244px; left: 358px; top: 368px;">
  <div class="sl-block-content fragment" style="z-index: 15;" data-inline-svg="false" data-fragment-index="2">
    <script type="text/tikz">
    \begin{tikzpicture}
      \fill[fill opacity=0] (0,0) circle (4.3cm);
      \foreach \i/\c in {1/red,2/blue,3/red,4/blue,5/red,6/blue} {
        \node[circle,draw=white,fill=\c,line width=1mm,minimum size=5mm] (\i) at (\i*60:4) {};
      }
      \foreach \i/\c in {7/brown,8/brown,9/brown} {
        \node[circle,draw=white,fill=\c,line width=1mm,minimum size=5mm] (\i) at (90+\i*120:2) {};
      }
      \node[circle,draw=white,fill=red,line width=1mm,minimum size=5mm] (10) at (0,0) {};
      \foreach \i/\j in {1/2,2/3,3/4,4/5,5/6,6/1,
                         1/8,4/8,2/7,5/7,3/9,6/9,
                         7/10,8/10,9/10} {
        \draw[line width=1mm,white] (\i) -- (\j);
      }
      \draw[line width=3mm,green] (2) -- (7);
      \draw[line width=1mm,white] (2) -- (7);
    \end{tikzpicture}
    </script>
  </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 180px; top: 280px;">
  <div class="sl-block-content" style="z-index: 16;">
    <p>Can you color the vertices with 3 colors so that no adjacent vertices share a color?</p>
  </div>
</div>