<div class="sl-block" data-block-type="text" style="width: 806px; left: 77px; top: 253px; height: auto;">
  <div class="sl-block-content" style="z-index: 11;">
    <h1>How Hard Can It Be To Fold Something?</h1>
  </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 180px; top: 490px;">
  <div class="sl-block-content" style="z-index: 12;">
    <p>Pi Fisher</p>
  </div>
</div>